@import url('./variables.less');

.catalogue {
  &__item {
    border: 1px solid #ccc;
    border-radius: 9px;
    padding: 15px;
    margin-bottom: 30px;
  }

  &__title {
    font-weight: 600;
    background-color: #ffcfa3;
    padding: 10px;
    color: black;
    border-radius: 3px 3px 3px 3px;
  }
}

.content {
  &__item {
    &-text {
      font-size: 1.1em;
    }
    &-subtext {
      font-size: 0.8em;
    }

    &-value {
      font-size: 1.5em;
    }
  }
}

@media screen and (max-width: @sm-size) {
  .picture {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}